@import 'variables';
@import 'mixins';

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.cart-content {
  position: relative;
  &:hover .content {
       display: block;
       position: absolute;
       right: 0;
       padding: 1rem;
       width: 400px;
       background-color: $white;

       .button {
            @include button($secondary)
       } 
  }
}